@font-face {
    font-family: MTS Sans;
    font-weight: 800;
    src: url("../fonts/MTSSans-Black.otf") format("opentype")
}

@font-face {
    font-family: MTS Sans;
    font-weight: 700;
    src: url("../fonts/MTSSans-Bold.otf") format("opentype")
}

@font-face {
    font-family: MTS Sans;
    font-weight: 400;
    src: url("../fonts/MTSSans-Medium.otf") format("opentype")
}

@font-face {
    font-family: MTS Sans;
    font-weight: 500;
    src: url("../fonts/MTSSans-Regular.otf") format("opentype")
}

@font-face {
    font-family: MTS Sans;
    font-weight: 900;
    src: url("../fonts/MTSSans-UltraWide.otf") format("opentype")
   }